@forward "vars";
@forward "fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #fff;
  font-family: "Segoe UI";
  font-size: var(--text-sm);
}

h2 {
  font-weight: 600;
  font-size: var(--text-xl);
}

span {
  color: #45556c;
}

.container_layout {
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  width: 100%;
}
