@forward "vars";
@forward "fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #f3f6f9;
  font-family: "Segoe UI";
  font-size: var(--text-sm);
  overflow: hidden;
}

h2 {
  font-weight: 600;
  font-size: var(--text-xl);
}

span {
  color: #45556c;
}

.container_layout{
  background-color: #fff;
  height: 100vh;
}