.container_albums {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  display: grid;
  width: 100%;
  gap: calc(0.25rem * 6);
  .sidebar_albums {
    border: 1px solid #e2e8f0;
    grid-column: 1;
    height: 500px;
    box-shadow: var(--box-shadow-md);
    border-radius: calc(0.625rem + 4px);
    display: flex;
    flex-direction: column;

    .header_sidebar_albums {
      padding: 0.25rem * 6;
      padding-bottom: 0;
      display: flex;
      flex-direction: column;

      h4 {
        font-weight: 400;
        font-size: 15.75px;
      }

      .container_action_sidebar_albums {
        display: flex;
        gap: 8px;
        align-items: flex-end;
        margin: 8px 0;
        .input_search_sidebar_album {
          flex: 1;
          border-color: transparent;
          background-color: #f3f3f5;
        }
        .input_search_sidebar_album:has(input:focus) {
          box-shadow: var(--box-shadow-input) !important;
          border: 1px solid #a1a1a1;
        }
      }
    }
  }
  .main_albums {
    grid-column: span 2 / span 2;
    display: flex;
    flex-direction: column;
    gap: calc(0.25rem * 6);
    box-shadow: var(--box-shadow-md);
    border-radius: calc(0.625rem + 4px);
    border: 1px solid #e2e8f0;
  }
  .container_albums_list {
    padding: 0.25rem * 6;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: calc(0.25rem * 2);
    overflow-y: scroll;
  }
  .container_footer_sidebar_albums {
    display: flex;
    padding: 0.25rem * 6;
    padding-top: 0;
    padding-bottom: 0;
    margin: 7px 0;
    button {
      border: none;
      padding: 0;
      height: unset;
      span {
        color: #59636e;
      }
    }
    button:hover {
      span {
        color: #0969da;
      }
    }
  }
}
